.wrapper {
    --theme: #efefef;
    min-height: 40rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    background-color: var(--theme);
}

.section {
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--white);
}

.title {
    position: relative;
    margin-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: 400;

    &--line {
        border-bottom: 0.2rem solid #eee;
    }

    &--line::before {
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        content: '';
        width: 7.6rem;
        height: 0.2rem;

        background-color: var(--primary);
    }
}

.btn {
    padding: 1rem;

    color: var(--primary);
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    border-radius: 0.4rem;
    border: 0.1rem solid var(--primary);

    &--solid {
        color: var(--white);
        background-color: var(--primary);
    }

    & ~ & {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    &:hover {
        box-shadow: 1px 0px 6px 2px rgb(237 63 70 / 25%);
        cursor: pointer;
    }
}
