.delivery {
    height: 2rem;
    padding: 0.2rem;
    color: var(--white);
    background-color: #22c55e;
    border-radius: 0.4rem;
}

.complete {
    height: 2rem;
    padding: 0.2rem;
    color: var(--white);
    background-color: var(--second-primary);
    border-radius: 0.4rem;
}

.process {
    height: 2rem;
    padding: 0.2rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 0.4rem;
}

.pendingpay,
.pending {
    height: 2rem;
    padding: 0.2rem;
    color: var(--white);
    background-color: #ffd21e;
    border-radius: 0.4rem;
}

.cancel {
    height: 2rem;
    padding: 0.2rem;
    color: var(--white);
    background-color: var(--third-primary);
    border-radius: 0.4rem;
}

.td {
    &-id,
    &-address {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-id {
        max-width: 14rem;
    }

    &-link {
        color: var(--second-primary);
        text-decoration: none;
    }

    &-createDate {
        max-width: 10rem;
    }

    &-address {
        max-width: 12rem;
    }

    &-summary {
        max-width: 44rem;
    }
}
