.wrapper {
    margin-top: 2.6rem;
}

.group {
    padding-bottom: 0.8rem;
}

.label-input {
    display: block;
    margin-bottom: 0.2rem;

    font-size: 1.6rem;
    font-weight: 700;

    user-select: none;

    strong {
        color: red;
    }
}

.input {
    width: 96%;
    padding: 0.35rem 0.75rem;

    color: #55595c;
    font-size: 1.6rem;
    line-height: 2.1rem;

    border: 0.1rem solid #d0d0d0;
    border-radius: 0.3rem;

    &-checkbox {
        width: auto;
        margin-right: 0.8rem;
    }
}

.btn {
    letter-spacing: 0.08rem;

    & ~ & {
        margin-left: 1rem;
    }
}

.font-icon {
    margin-right: 0.4rem;
    font-size: 1.6rem;
}
