.wrapper {
    width: 100%;
    padding: 2rem 0;
}

.section {
    width: 100%;
    padding: 0.7rem 0;
}

.tabs {
    display: flex;
    justify-content: center;
    padding-bottom: 1.6rem;
}

.tab {
    padding: 0.9rem 2.2rem;
    font-size: 1.3rem;
    font-weight: 500;

    background-color: #eee;

    border: none;
    border-radius: 2rem;

    cursor: pointer;

    &--active,
    &:hover {
        background-color: var(--primary);
        color: var(--white);
    }
}

.tab ~ .tab {
    margin-left: 0.7rem;
}
