.wrapper {
    --theme: #efefef;

    min-height: calc(100vh - var(--total-height-header) - var(--height-footer));
    padding-top: 0.8rem;
    padding-bottom: 3em;
    background-color: var(--theme);
}
